**/target/
**/logs/
/.idea/
/.bsp

**/rabbit*.log
**/solace*.log

/.metals/
metals.sbt
**/.bloop/

/.vscode/

resources/charts/**/*.tgz

.DS_Store

anti-replay.json.gz

/null

gateway/src/test/golden-compatibility/
silo-domain/src/test/golden-compatibility/
resources/charts/**/Chart.lock

.java-version
.sbtopts